:root {
  --main-bg-color: #323232;
  --primary-color: #00f260;
  --primary-color-rgb: 0, 242, 96;
  --secondary-color: #0575e6;
  --secondary-color-rgb: 5, 117, 230;
  --white: #fff;
  --black: #000;
  --white-light: #cccccc;
  --white-light-1: #ebe8e8;
  --default-font-size: 1.6rem;
}
