@import './style-components/variables';
@import './style-components/button';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow: hidden;
}
body {
  font-family: 'Lato', sans-serif;
}
